
<div class="bootstrap-wrapper">

    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-md-6 offset-md-3">

                <div class="container text-center">
               
                </div>
                <h1 class="text-center">Register Here</h1>

                {{user|json}}
                <form (ngSubmit)="formSubmit()">
                    <!-- username -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label >User Name</mat-label>
                        <input
                        [(ngModel)]="user.username"
                        name="username"
                        matInput placeholder="Enter Here"/>

                        <mat-hint>User name must be unique</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" matInput placeholder="Enter Here"/>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input 
                        [(ngModel)]="user.firstName"
                        name="firstName"
                         matInput placeholder="Enter Here"/>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input
                        [(ngModel)]="user.lastName"
                        name="lastName"
                          matInput placeholder="Enter Here"/>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Email Id</mat-label>
                        <input 
                        [(ngModel)]="user.email"
                        name="email"
                        type="email" matInput placeholder="Enter Here"/>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Phone number</mat-label>
                        <input 
                        [(ngModel)]="user.phone"
                        name="phone"
                        type="number" matInput placeholder="Enter Here"/>
                    </mat-form-field>


                    <div class="container" class="text-center">
                        <button type="submit" mat-raised-button  color="primary">Register</button>
                        <button style="margin-left:20px" mat-raised-button  color="Accent">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>